footer{
position:relative;
bottom:0px;
}
.scroll-btn{

border:none;
color:#0066FF;
background-color:transparent;

}
.specificpage-container .list-heading{
display:inline-block;
padding-bottom:10px;
color:#1B1B1B;
font-size:18px;

}
.specificpage-container ul,ol{

list-style-type:none;
}

.specificpage-container ul  li::before {
  content: "\f104";
  font-family: FontAwesome;
  position:absolute;
padding-top:1px;

  color: #4570E6; /* or whatever color you prefer */
}
.specificpage-container ul li p {

font-style:justify;
padding-right:6px;
font-size:15px;

}
.specificpage-container li{

padding-top:15px;

}
