
#calender-container{

position:relative;

padding-bottom:40px;

}

.form-group .glyphicon {

text-align:center;
top:28px;
width:34px;

}
.form-group{

margin:20px auto;

}

#input-picker{

direction:ltr;

padding-right: 36px;

}

th,td{

text-align:center;

}
            /*       setting  horizontal  scroll bar     */

#result{

overflow-x:auto;


}

table {

    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border:2px solid #1ABC9C;

}
table thead{
  background:#1ABC9C;
   color:white;

}


th, td {
    text-align: center;
    padding: 8px;
}

tbody tr:nth-child(even){
  background:#ECF0F1;
}
