#rules-container{

padding-bottom:30px;

}

#rules-heading{

font-size:25px;


}

#rules-container > ul > li{

font-size:17px;
padding-top:10px;
}

#rules-footer{

padding-right:40px;


}
#rules-footer span{


font-size:17px;

}