.specificpage-container{

padding:20px;

}

.specificpage-container jubotron p{




font-size:15px



}
.tariffs{
max-width:749px;
padding:40px;
margin:10px auto;
border: 1px solid rgba(0, 0, 0, .09);

box-shadow: 0px 1px 4px #bbb;
height:249px;
}


.tariffs-img{

float:right;
width:40%;
height:100%

}
.description{

float:left;
width:60%;
padding:20px;

}
.description a{
margin:10px 0px;
float:left;

}