body {
 /*
 using this font for eng text
 */
    font-family: "Lato", sans-serif;

}
/*
 using this font for fa text
 */


.navbar-collapse a{
    text-decoration:none;

}
.navbar,.navbar-default{

border:none;

}
#navbar1{

margin-bottom:0px;
background-color:#23262F;

}


.navbar-default .navbar-brand{

position:relative;
left:7px;
color:#fff;

}



.navbar-text,.navbar-default .navbar-link,.navbar-default .navbar-nav > li > a{

color:#FFF;

}


                            /*           remove hover color             */

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover,.navbar-default .navbar-link:hover
,.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{

color:#fff;

}

.nav-pills{

padding-right:0px;

}

.nav-pills .dropdown{

float:right;

}
                            /*       setting color of dropdown-menus                 */
.navbar-default .navbar-nav .open .dropdown-menu > li > a{

color:#fff;

}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{

color:#fff;

}

.dropdown-toggle{


color:#000;

}
.dropdown-menu{


padding-right:35px;
display:none;
visibility:visible;
margin-top:0px;

}


                            /*        pulling persian texts right                 */
.menu1{

text-align:right;

}

                            /*        pulling english texts right                 */
.menu2{

text-align:left;

}

.navbar-link{

color:#FFF;

}

.navbar-nav{

padding-right:0px;

}

.navbar-toggle{

border-radius:0px;
height:40px;
float:left;
margin-left:15px;

}

#navbar2{

position:relative;
top:0px;
background-color:#23262F

}

/* remove shadow of input  */

/* blue shadow in dark background is not good  */

#navbar2 input:focus{


box-shadow:none;

}


                            /* blue shadow in dark background is not good  */
#SideNav input{

box-shadow:none;

}
                            /*  setting position of search form     */
.search-nav .input-group{

margin:10px auto;
}
.search-nav .input-group .form-control{

float:right;
border-radius:0px;
}

.search-nav .input-group .input-group-btn button{
height:34px;
position:relative;
border-radius:0px;
}
                            /*         Side Nav setting started               */
#SideNav{

font-family:'Far.Adab',Tahoma, Sans-Serif;
position: fixed;
float:right;
width:250px;
z-index: 1;
width:0px;
right: 0;
background-color:#111;
overflow-x: hidden;
transition: 0.5s;
top: 108px;
                                /*    adding shadow to Side Nav                    */

-webkit-box-shadow: 0 8px 6px -6px black;
-moz-box-shadow: 0 8px 6px -6px black;
box-shadow: 0 8px 6px -6px black;


}


#SideNav a {

    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #808b9c;
    display: block;
    padding: 10px 0px;

    font-size:15px;

    transition: 0.3s;
}

#SideNav a:hover {
    color: #f1f1f1;
}
#SideNav span{

padding:10px;

}

#SideNav .jumbotron{
background-color:transparent;
}

#SideNav .jumbotron .img-responsive {

border:.5px solid #808b9c;
width:100px;
height:100px;
margin:10px auto;
}
#SideNav .jumbotron p{

text-align:center;
font-size:15px;
color:white;
}
                            /*       Size of icons          */
#SideNav .jumbotron .fa,.material-icons {

font-size:25px;
}


#SideNav .jumbotron .btn-primary{
margin:auto 50px;
}

                            /*      setting of side toggles                  */
#left-side-toggle-open{

border:1px solid #ddd;
border-radius:0px;
height:40px;
width:45px;
padding:9px 10px;
margin:8px;
color:#fff;
margin-right:0px;
}

#left-side-toggle-close{

display:none;
border:1px solid #ddd;
border-radius:0px;
height:40px;
width:45px;
padding:9px 10px;
margin:8px;
margin-right:0px;
color:#fff;


}

#left-side-toggle-close i{


margin:auto auto;

}

                            /*         I changed place of my toggle and navbar toggle               */

#left-side-toggle-open,#left-side-toggle-close{

float:right;

background-color: transparent;

}
                            /*      remove hover color         */

#left-side-toggle-open:hover,#left-side-toggle-close:hover{

background-color: #ddd;

}



#username-place{

border-bottom:1px solid #808b9c;
padding-bottom:5px;
}


.navbar-default{
margin:0px;
border-radius:0px;
text-decoration:none;

}

.form-group{

max-width:150px;

}
                            /*      Setting  of login form  started                  */
#login-form{

margin:20px auto;

}

.login-label,.nav-side-label{

color:#fff;
font-size:20px;
text-align:center;

}

#login-form .form-control{

border:1px solid rgb(204, 204, 204);
border-radius:0px;
padding-right:36px;

}                            /*     setting of icons in login-form            */
#login-form span{

display:block;
position:absolute;
width:34px;
text-align:center;
border-left:1px solid rgb(204, 204, 204);
padding:4px; color:rgb(204, 204, 204);
}
#register-label{
    font-family:'Far.Adab',Tahoma, Sans-Serif;
color:#fff;
font-size:15px;
text-align:center;
}
.create-account{
margin:auto 0;

}

                               /*       setting of Side Nav ended             */


#main a{
    text-decoration:none;
}

                            /*   setting delay when main want go left              */
#main {
    transition: margin-right .5s;
    padding: 16px;

}


#main{
margin-top:110px;
margin-left:0px;

}

                            /*    Pagination setting         */

.pagination {

padding:0px;

}



.stock-table{
padding:20px;
}





                            /*        footer setting started                */
footer{

font-family:'Far.Adab',Tahoma, Sans-Serif;

background-color:#232531;

}

#footer-jumbotron{

padding:20px;
background-color:#232531;
margin-bottom:0px;

}

.footer a{

color:#fff;
margin:10px;
font-size:15px;
text-decoration:none;

}

#copy-right-row{

color:#fff;

padding-top:10px;
}
#copy-right-row i{


position:relative;
top:5px;
}

#twitter-icon{

height:31px;
width:31px;

}
#telegram-icon{

height:34px;
width:34px;

}
#instagram-icon{

height:31px;
width:31px;

}
#social-network{

padding-top:10px;
}

                             /*     setting of footed ended           */



                  /*     changing color of dropdown-menu when screen is big enough        */

                                                                                                                /*                        */
@media only screen and (min-width:768px){

.dropdown-toggle{

color:#fff;

}
.dropdown:hover .dropdown-menu {

padding-right:0px;
display: block;
margin-top: 0;
right:0px;

}
 .dropdown-menu > li > a{

color:#000;

}

}


