{% extends 'posts/base.html'%}
{% load staticfiles %}

{% block meta %}
<meta name="keywords" content="نوسان گل ">
<meta name="description" content="معرفی گروه مشاور سرمایه گذاری نوسان گلد و توضیح در رابطه با امکانات و خدمات نوسان گلد.">

{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'specificpages/css/about-us.css' %}"/>
{% endblock %}

{% block title %}
<title>درباره ما</title>
{% endblock %}

{% block body %}
<div class="container-fluid specificpage-container">
    <p>ما در این قسمت سعی کردیم توضیحات کاملی رو به شما ارائه دهیم .اگر به دنبال قسمت خاصی هستید میتوانید از لینک ها زیر استفاده کنید تا به آن قسمت بروید:</p>
    <div id="jump-to-specific-part">
        <ul>
            <li>
                <button id="introduction-btn" class="scroll-btn">معرفی</button>
            </li>
            <li>
                <button id="values-btn" class="scroll-btn">ارزش‌های سازمانی گروه مشاوره سرمایه گذاری نوسان گلد</button>
            </li>
            <li>
                <button id="views-btn" class="scroll-btn">چشم‌انداز مشاور سرمایه گذاری نوسان گلد</button>
            </li>
            <li>
                <button id="services-btn" class="scroll-btn">خدمات</button>
            </li>
            <li>
                <button id="sections-btn" class="scroll-btn">بخش ها</button>
            </li>


        </ul>
    </div>
    <div id="introduction">
        <span id="about-us-heading">معرفی گروه مشاور سرمایه گذاری نوسان گلد </span>

        <p>
            گروه نوسان گلد از سال 1293 کار خود را در بازار های بین المللی مالی شروع کرده و همچنان با قدرت در پیش برد
            اهداف و
            موفقیت مشتریان خود تلاش می‌کند ،همچنین با کادری مجرب متشکل از معامله گران،تحلیل گران، خبر نگاران،استادان
            مطرح و
            مدیران با مسئولیت.
        </p>
    </div>
    <div id="values"></div>
    <span class="heading">ارزش‌های سازمانی گروه مشاوره سرمایه گذاری نوسان گلد</span>
    <ul>
        <li><p>ارزش‌افزایی حقیقی برای مشتری: نوسان گلد بر این باور است که آن‌چه که برای مشتری انجام می‌شود، باید حاوی
            کاربردی واقعی و الزامی و لذا حاوی ارزش باشد. ما تلاش خواهیم کرد ضمن مواجهه‌ای صادقانه با درخواست‌های مشتری،
            وی را با نیازهای واقعی خویش آشنا کرده و از تعریف مراحل غیرضروری، غیرکاربردی و هزینه‌بر برای وی پرهیز کنیم.
       </p> </li>
        <li><p>جامعیت و کاملیت خدمات: نوسان گلد اعتقاد دارد خدماتی که با موضوع نیل به هدفی عینی (مثلاً پذیرش در بورس یا
            عرضه اوراق بهادار یا تأمین مالی بانکی پروژه‌ها) انجام می‌شود، باید جامع، کامل و منتهی به نتیجه نهایی و ملموس
            برای مشتری باشد. ارائه خدمات ناتمام و رهاکردن مشتری در میانه فرایندهای مرتبط برخلاف ارزش‌های کاری آرمان آتی
            خواهد بود.
        </p></li>
        <li><p>رویکرد علمی و صادقانه: نوسان گلد باید تلاش کند اجرای مأموریت‌های محوله را چنانچه مستلزم تولید محتوای
            تحقیقاتی و تحلیلی است، با حداکثر تأکید و تقید به رویکرد علمی و دقت داده‌ها پیش ببرد. در هر مرحله چنانچه به
            علت کمبود داده‌های قابل‌اتکا یا ضعف دانش موجود در کشور از این شرط عدول شود، مراتب به طور دقیق و شفاف به
            مشتری منتقل خواهد شد.
        </p> </li>
    </ul>
    <div id="views">
        <span class="heading">چشم‌انداز مشاور سرمایه گذاری نوسان گلد</span>
        <p>درچشم‌انداز 3 ساله، شرکت مشاور سرمایه‌گذاری ایرانیان تحلیل فارابی مجموعه‌ای است یادگیرنده، پویا، بانگاهی
            سیستمی،
            متشکل از نیروهای خبره با سابقة تحصیلی و حرفه‌ای درخشان از تخصص‌های گوناگون، دارای ساختاری چابک و کارا،
            پیشگام در
            طراحی، عرضه و ترویج ابزارهای نوین مالی و راه‌اندازی نهادهای مالی مورد نیاز ، دارای تعامل موثر و هم‌افزا با
            ذینفعان و محیط، بهره‌مند از شبکه ارتباطی گسترده و فعال با شرکت‌های معتبر ایرانی و بین‌المللی، فعال در زمینة
            مسائل مالی و اقتصادی، دست یافته به جایگاه نخست از نظر رفتار حرفه‌ای و جلب اعتماد عموم فعالان بازار پول و
            سرمایه
            در کشور و همکار طراز اول نهادهای منطقه‌ای و بین‌المللی فعال در ایران و خاورمیانه.</p>
    </div>
    <div id="services">
    <span class="heading">
خدمات شرکت های مشاور سرمایه­ گذاری برای متقاضیان سرمایه ­گذاری در بازارهای مالی به چه نحوی است؟
</span>
        <p>پس از تصویب قانون ابزارهای و نهادهای مالی جدید که منجر به پیدایش نهادهای مالی همچون شرکت های مشاور سرمایه­
            گذاری
            گردید، خلاء فقدان شرکت های متخصص و معتبر که به ارائه خدمات متنوع سرمایه­ گذاری و تامین مالی به اشخاص حقیقی و
            حقوقی بپردازند، تا اندازه­ای مرتفع گردید، بطوریکه یکی دیگر از حلقه­ های مفقوده بازار سرمایه که نقش تسهیل
            تصمیمات
            سرمایه­ گذاری و تامین مالی را ایفا می­ کند، تکمیل گردید. شرکت های مشاور سرمایه­ گذاری با در نظر داشتن
            الزامات
            قانونی و ساختاری و همچنین نوآوری بکار گرفته شده در محصولات خود، به ارائه­ خدمات سرمایه ­گذاری می ­پردازند.
            با
            لحاظ کردن این موضوع، می ­توان خدمات این شرکت ها برای متقاضیان سرمایه­ گذاری در بازار سرمایه را به 5 دسته زیر
            تقسیم نمود:</p>
        <ol>
            <li><p>خدمات تحقیقات سرمایه ­گذاری (Investment Research Services): شرکت های مشاور سرمایه ­گذاری انواع گزارشات
                تحلیلی در حیطه بازار سرمایه، اقتصاد کلان، بازار جهانی و غیره را در قالب محصولات متنوعی با تعرفه­ های
                مشخص در
                اختیار افراد حقیقی و حقوقی قرار می ­دهند که این افراد بواسطه تحقیقات صورت گرفته از قدرت تجزیه و تحلیل
                بالاتری در اتخاذ تصمیمات سرمایه­ گذاری خود بهره ­مند می ­شوند. ارائه این خدمات می­ تواند در قالب تعرفه
                اشتراک وبسایت، بولتن تحلیلی، گزارشات موردی و . . . انجام پذیرد.
            </p> </li>
            <li>
                <p>سبد گردانی (Portfolio Management): شرکت های مشاور سرمایه­ گذاری دارای مجوز سبدگردانی، از طرف سرمایه­

                گذاران
                حقیقی و حقوقی، مدیریت سرمایه آن ها را بطور اختصاصی در اختیار می­ گیرند.
                </p> </li>

            <li><p>صندوق­ های سرمایه­ گذاری (Capital Market Funds): صندوق­ های سرمایه­ گذاری با جمع­ آوری وجوه خرد و مدیریت
                آن
                ها به صورت حرفه ­ای سعی در کاهش هزینه­ ها و ریسک سرمایه­ گذاری دارد. صندوق­ های سرمایه ­گذاری با توجه به
                انواع مختلف و استراتژی­ های گوناگون در سرمایه­ گذاری سعی می­ کنند گزینه ­های مناسبی را پیش روی افراد با
                سلایق گوناگون قرار دهند.
            </p></li>

            <li><p> آموزش (Training): شرکت های مشاور سرمایه­ گذاری دارای مجوز آموزش در حیطه بازار سرمایه، با برگزاری دوره­
                های
                آموزشی به ترویج دانش و تجربه کاربردی در حیطه سرمایه­ گذاری می­ پردازند.
           </p> </li>

            <li><p>مدیریت ثروت (Wealth Management): شرکت های مشاور سرمایه­ گذاری می ­توانند پا را فراتر از بازار سرمایه
                گذاشته
                و به ارائه­ مشاوره اختصاصی در بازارهای مالی مختلف بپردازند. در این صورت با دستیابی به شناخت کافی از
                سرمایه­
                گذاران، به مدیریت ثروت افراد با توجه به اهداف و انتظارات آنان پرداخته می شود.
            </p>  </li>

        </ol>
    </div>
    <p>گروه مشاور سرمایه گذاری نوسان گلد یکی از شرکت های فعال در حوزه اطلاع رسانی و تحلیل بازار سرمایه به شمار می رود.

    </p>
    <div id="sections">
    <p> این شرکت دارای بخش ها و واحدهای مختلفی است که در ادامه از نظرتان می گذرد.</p>

        <ol>
            <li><span class="list-heading">چشم انداز روزانه</span>
                <p>در حالی که معامله گران بازار سرمایه به ویژه حرفه ای ها به طور معمول از اتفاقات و رخدادهای مهم بازار
                    سرمایه مطلع هستند. پایگاه اطلاع رسانی و تحلیلی مشاور سرمایه گذاری نوسان گلد مطلبی با همان ساختار اما
                    با
                    این تفاوت که بر اساس اتفاقات رخ داده در بازار آن روز وضعیت بازار فردا از سوی تحلیل گران و کارشناسان
                    پیش
                    بینی شده است.</p>
                <p>نکته قابل توجه در این مطلب پرطرفدار این است که با توجه به آن که نگارش "چشم انداز" از سوی کارشناسان
                    خبره
                    انجام می شود، به طور معمول پیش بینی های تکنیکی و بنیادی آن محقق می شود.</p>
            </li>
            <li><span class="list-heading">اخبار داغ</span>
                <p>در بازار سرمایه همواره خبر نقش بسیار موثر و تعیین کننده ای در موفقیت معامله گران داشته است. در این
                    بازار
                    پر فراز و نشیب بارها دیده اید که دریافت یک خبر از سوی یک معامله گر تا چه میزان توانسته موجب شود تا
                    آن
                    فرد خرید به موقع یا فروش به موقعی داشته باشد.</p>
                <p>در واقع مشاور سرمایه گذاری نوسان گلد، اطلاعات یا همان خبر به موقع را یکی از اضلاع موفقیت در بورس می
                    داندکه دو ضلع دیگر آن نیز بهره مندی از تحلیل کارشناسانه و عکس العمل سریع است.</p>
                <p>در بازار سرمایه همواره خبر نقش بسیار موثر و تعیین کننده ای در موفقیت معامله گران داشته است. در این
                    بازار
                    پر فراز و نشیب بارها دیده اید که دریافت یک خبر از سوی یک معامله گر تا چه میزان توانسته موجب شود تا
                    آن
                    فرد خرید به موقع یا فروش به موقعی داشته باشد.

                    در واقع مشاور سرمایه گذاری نوسان گلد، اطلاعات یا همان خبر به موقع را یکی از اضلاع موفقیت در بورس می
                    داندکه دو ضلع دیگر آن نیز بهره مندی از تحلیل کارشناسانه و عکس العمل سریع است.

                    بر این اساس، مشاور سرمایه گذاری نوسان گلد، با بهره مندی از خبرنگاران با تجربه بازار سرمایه و در
                    ارتباط و
                    تعامل مناسب با مدیران شرکت های پذیرفته شده در بورس توانسته طی یک سال گذشته جایگاه مناسبی در حوزه
                    اطلاع
                    رسانی بازار سرمایه پیدا کند. به طوری که بخش عمده ای از اخبار موثق بازار سرمایه از طریق مشاور سرمایه
                    گذاری نوسان گلد به اطلاع فعالان بورس و فرابورس می رسد و به اذعان کاربران سرعت اطلاع رسانی سایت نوسان
                    گلد
                    در حال حاضر بیشتر از سایت ها و خبرگزاری های فعال در این بخش است.</p>
                <p>از سویی دیگر، معتبر بودن این خبرها که به طور معمول در قالب مصاحبه های خبری با مدیران شرکت ها انجام می
                    شود.</p>
            </li>
            <li><span class="list-heading">دیدگاه</span>
                <p>بازار سرمایه همواره در طول بیش از 9 دهه از فعالیت خود از دیدگاه های کارشناسی، نقدهای منصفانه و نظرات
                    مدیران و کارشناسان بهره مند شده است. مشاور سرمایه گذاری ایرانیان تحلیل فارابی هم با هدف انتشار نقطه
                    نظرات و دیدگاه های همه فعالان و کارشناس و مدیران بازار سرمایه مدتی است که بخشی را تحت عنوان دیدگاه
                    راه
                    اندازی کرده تا به این ترتیب تمام کارشناسان و صاحب نظران در تریبونی آزاد بتوانند نظرات خود را در خصوص
                    موارد مختلف بیان کنند.</p>
                <p>بدیهی است، این بخش به طور معمول برای تمامی کاربران سایت قابل دسترسی است.</p></li>
            <li><span class="list-heading">سیگنال آنلاین و تحلیل های تکنیکی</span>
                <p>بدون شک علم تکنیکال یکی از رموز موفقیت در بازار سرمایه محسوب می شود و هستند تکنیکالیست های موفقی که
                    در
                    بورس های بین المللی با استفاده از همین تحلیل ها که در قالب نمودار در صفحه مانیتور ظاهر می شود، به
                    موفقیت
                    های بزرگی دست یافته اند.</p>
                <p>از این رو تحلیل تکنیکال در مشاوره سرمایه گذاری نوسان گلد دارای جایگاه ویژه ای دارد و در طول هفته به
                    طور
                    متوسط 5 تحلیل تکنیکال جامع و اجمالی در مورد نمادهای مورد توجه بازار روی خروجی سایت قرار می گیرد.</p>
            </li>
            <li><span class="list-heading">تحلیل بنیادی</span>
                <p>تحلیل فاندامنتال و یا به تعبیری واضح تر تحلیل بنیادی که بر اساس واقعیت های حاکم بر سیاست ها شکل می
                    گیرد،
                    همواره توانسته دید مناسبی به سرمایه گذاران در خصوص صنایع و یا کشور ها و سیساست های مالی مختلف
                    بدهد.</p>
                <p>اما تحلیل های بنیادین کاری بسیار سخت و دشوار محسوب می شود و گاهی برای تهیه یک تحلیل بنیادی جامع به یک
                    هفته زمان نیاز است.</p>
                <p>در این شرایط سایت مشاور سرمایه گذاری نوسان گلد نخستین روز هفته را به پاسخ گویی بنیادی به یک نماد
                    اختصاص
                    داده است.به طوری که نمادی که بیشترین پرسش را در بخش پرسش و پاسخ دارد، مورد بررسی بنیادی قرار گرفته و
                    در
                    قالب پرسش و پاسخ برگزیده شده، هر هفته روی خروجی سایت قرار می‌گیرد.</p>


            </li>
            <li><span class="list-heading">آموزش</span>
                <p>مشاوره سرمایه گذاری نوسان گلد هر چند در حال راه اندازی دپارتمان آموزشی برای ارائه خدمات حضوری است،
                    اما از
                    مدت ها قبل آموزش به افراد حرفه ای و حتی غیرحرفه ای را در فضای مجازی در دستور کار خود قرار داده است،
                    به
                    طوری که هر هفته دو مطلب آموزشی با موضوعات متنوع در این بخش منعکس می شود.</p>
                <p>23 اصل موفقیت وارن بافت ، حکایت آن که دلسرد نشد مارک فیشر و داستان بابای دارا و بابای نادار در کنار
                    آموزش
                    تکنیکال از جمله مطالب منتشر شده، پرطرفدار در بخش آموزش محسوب می شود.</p>
                <p>این که فعالان بازار سرمایه و معامله گران زمان کافی برای مراجعه به سایت های غیر مربوط با حوزه بورس و
                    بازار
                    را ندارند، امری بدیهی است.</p>
                <p>مشاور سرمایه گذاری نوسان گلد نیز با درک این موضوع در کنار تمام خدمات ویژه ای که به کاربران خود می دهد
                    روزانه بیش از 60 خبر اقتصادی ، بورسی و گوناگون را پس ازدروازه بانی صورت گرفته و ویرایش محتوایی روی
                    خروجی
                    خود قرار می دهد.</p>
            </li>
            <li><span class="list-heading">اخبار اقتصادی- بورسی و گوناگون</span><p>این که فعالان بازار سرمایه و معامله گران زمان کافی برای مراجعه به سایت های غیر مربوط با حوزه بورس و بازار را ندارند، امری بدیهی است.

مشاور سرمایه گذاری نوسان گلد نیز با درک این موضوع در کنار تمام خدمات ویژه ای که به کاربران خود می دهد روزانه بیش از 60 خبر اقتصادی ، بورسی و گوناگون را پس ازدروازه بانی صورت گرفته و ویرایش محتوایی روی خروجی خود قرار می دهد.</p></li>
            <li><span class="list-heading">سالنامه تخصصی بازار سرمایه</span><p>از آن جا که طی 5 سال گذشته سالنامه تخصصی بازار سرمایه مورد استقبال فعالان بازار سرمایه قرار گرفته و به لحاظ محتوای ارزشمند آن متقاضیان بالقوه زیادی برای آن وجود دارد، برنامه نوسان گلد تقویت محتوای این سالنامه است، تا در کنار ارائه سالنامه ای با محتوای غنی تر به لحاظ ظاهری هم سررسیدی نفیس تقدیم فعالان محترم بازار سرمایه گردد. این سالنامه تخصصی در ماه پایانی سال آماده ارائه به فعالان بازار  است.</p></li>
            <li><span class="list-heading">پیامک های لحظه ای</span>
                <p>پایگاه اطلاع رسانی و تحلیلی مشاور سرمایه گزاری نوسان کلد دارای حدود 1000 کاربر ویژه است که این
                    کاربران
                    روزانه پیامک های لحظه ای خبری را در طول روز به ویژه در ساعت معاملات بازار دریافت می کنند.</p>
                <p>
                    معتبر بودن این پیامک های لحظه ای که عمدتاً محتوای خبری دارند و از اطلاعات گرفته شده از مدیران شرکت
                    های و
                    مقامات مسئول در بنگاه های پذیرفته شده در بازار سرمایه منتشر می شود، موجب شده تا بازار به این پیامک
                    ها به
                    سرعت واکنش نشان دهد.
                </p>
                <p>

                    از این رو با توجه به این که پیامک در جامعه کنونی سریع ترین ابزار اطلاع رسانی است، مشاور سرمایه گذاری
                    نوسان گلد برنامه افزایش تعداد پیامک های لحظه ای را در دستور کار خود دارد که البته تحقق این موضوع در
                    گرو
                    شریط بازار سرمایه و وجود اخبار موثق و قابل پیگیری
                </p></li>

            <li><span class="list-heading"> سالنامه تخصصی بازار سرمایه</span><p>
                از آن جا که طی 5 سال گذشته سالنامه تخصصی بازار سرمایه مورد استقبال فعالان بازار سرمایه قرار گرفته و به
                لحاظ
                محتوای ارزشمند آن متقاضیان بالقوه زیادی برای آن وجود دارد، برنامه نوسان گلد تقویت محتوای این سالنامه
                است، تا
                در کنار ارائه سالنامه ای با محتوای غنی تر به لحاظ ظاهری هم سررسیدی نفیس تقدیم فعالان محترم بازار سرمایه
                گردد. این سالنامه تخصصی در ماه پایانی سال آماده ارائه به فعالان بازار است.
            </p></li>
            <li><span class="list-heading">بولتن های تخصصی</span><p>با توجه به عضویت بیش از 1000 کاربر ویژه در پایگاه اطلاع
                رسانی و تحلیلی مشاور سرمایه گذاری نوسان گلد ،برنامه شرکت انتشار بولتن تخصصی برای این افراد است. هم اکنون
                یک
                تیم کارشناسی در حالی بررسی چگونگی انتشار بولتنی کاربردی برای کاربران و فعالان بازار سرمایه است که ضمن
                بررسی
                وضعیت بازار سرمایه و نمادهای مختلف، اوضاع اقتصادی ایران و جهان و بازار های رقیب بازار سرمایه را نیز در
                ادوار
                مختلف مورد بررسی ، تحلیل و کنکاش قرار دهد.
            </p> </li>


        </ol>
    </div>
</div>
{% endblock %}

{% block script %}

<script src="{% static 'specificpages/js/about-us.js' %}"></script>

{% endblock %}
