{% extends 'posts/base.html'%}
{% load staticfiles %}


{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'specificpages/css/advertising.css' %}"/>
{% endblock %}

{% block title %}
<title>تبلیغات</title>
{% endblock %}

{% block body %}
<div class="container-fluid" id="advertising-container">

    <span id="advertising-heading"> تبلیغات در نوسان گلد </span>
    <br>
    <br>
    <p>سایت نوسان گلد برای حفظ ظاهر سایت تبلیغات را در سمت چپ صفحه ی اصلی و در انتهای توضیحات مربوط به هر پست مشابه شکل بالا قرار میدهد.</p>
<p>توجه داشته باشید قسمت سمت چپ صفحه ی اصلی فقط در صفحه نمایش های بزرگ نمایش داده میشود.</p>
    <p>قیمت ها برای مدت زمان یک ماه می باشند.</p>
<p>ابعداد همان ابعاد مشخص شده در تصویر می باشد.</p>
    <p>A: قیمت 80هزار تومان </p>
    <p>B: قیمت 70هزار تومان </p>
 <p></p>
</div>








{% endblock %}
