{% extends 'posts/base.html' %}
{% load staticfiles %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'specificpages/css/software.css' %}"/>

{% endblock %}

{% block title %}
<title>نرم افزار  |  MetaTrader</title>
{% endblock %}


{% block body %}
<div class="container-fluid specificpage-container" >
    <p>نرم افزار معاملاتی متاتریدر چیست؟</p>
    <p>
تمامی کارگزاران (بروکرها) به منظور دسترسی مشتریان خود به بازار و برای انجام عملیات خرید و فروش آنان، یک نرم افزار معاملاتی را استفاده می کنند، این نرم افزار ها توسط شرکتهای متفاوتی طراحی و تولید می شوند، یکی از معروفترین و پرکاربردترین این نرم افزارهای معاملاتی "متاتریدر" است. نرم افزار MetaTrader متعلق به شرکت MetaQuotes بوده و بروکرهای مختلفی آن را به عنوان نرم افزار معاملاتی خود برگزیده اند.
    </p>
    <p>
         نرم افزارهای معاملاتی، پلتفرم معاملاتی (Trading Platform) و یا سکوی معاملاتی نیز گفته میشود.

    </p>
    <p>

پلتفرم متاتریدر بر روی سیستم های مختلفی قابلیت نصب و اجرا دارد.
    </p>
    <ul>
<li>
نسخه دسک تاپ ویندوز PC Windows سازگار با (vista-win.7-win.8.1-win.10) * توجه داشته باشید که متاتریدر4 از سال 2015 به ویندوزXP سرویس نمی دهد.
</li>
        <li>
            نسخه گوشی همراه و تبلت اندروید که بر سیستم عامل Android سازگار است.

</li>
        <li>
نسخه ای فون و آی پد سیستم عامل شرکت اپل MetaTrader 4 iOS.
</li>

    </ul>
</div>
{% endblock %}