{% extends 'posts/base.html' %}
{% load staticfiles %}

{% block meta %}
<meta name="keywords" content="pamm, پم">
<meta name="description" content="در کارگزاری FXTM  ثبت نام کرده و بعد به حساب سرمایه گذاری نوسان گلد وصل شوید. ">

{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'specificpages/css/pamm.css' %}">
{% endblock %}

{% block title %}
<title>نوسان گلد | pamm</title>
{% endblock %}


{% block body %}

<div class="container-fluid specificpage-container">
    <div class="text-center">
        <img src="{% static 'specificpages/img/pamm-page.jpg' %}" style="padding-bottom:20px;">
    </div>
    <p>از برنامه سرمایه‌گذاری در بروکر FXTM ما استفاده کنید و با پیروی ازمعاملات برترین معامله‌کنندگان، سرمایه خود را در
        نقدشونده‌ترین بازار جهان افزایش دهید.</p>

    <ul>
        <li>۱-برای حساب سرمایه‌گذاری ثبت‌نام کنید.</li>
        <li>۲-مدیر راهبرد موردنظرتان را انتخاب کنید.</li>

        <li>۳-پروفایلتان را به تأیید برسانید.</li>

        <li>۴-وجه واریز کنید و شاهد رشد سبد سهام خود باشید</li>
    </ul>
    <span>برای ثبت نام در کارگزاری FXTM روی لینک زیر کلیک کنید:</span>
    <br>
    <a href="https://www.forextime.com/?partner_id=4913110">www.forextime.com/...</a>

    <br>
    <span>برای وصل شدن به حساب سرمایه گزاری ما از طریق لینک زیر اقدام کنید:</span>
    <br>
    <a
        href="https://www.forextime.com/fa/strategy/NAVASANGOLD1">www.forextime.com/fa/strategy/NAVASANGOLD1</a>
</div>

{% endblock %}