{% extends 'posts/base.html' %}
{% load staticfiles %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'specificpages/css/pamm.css' %}">
{% endblock %}

{% block title %}
<title>نوسان گلد  |  pamm</title>
{% endblock %}


{% block body %}

<div class="container-fluid specificpage-container">
<p>از برنامه سرمایه‌گذاری در بروکر FXTM ما استفاده کنید و با پیروی ازمعاملات برترین معامله‌کنندگان، سرمایه خود را در نقدشونده‌ترین بازار جهان افزایش دهید.</p>

    <ul>
        <li>۱-برای حساب سرمایه‌گذاری ثبت‌نام کنید.</li>
        <li>۲-مدیر راهبرد موردنظرتان را انتخاب کنید.</li>

        <li>۳-پروفایلتان را به تأیید برسانید.</li>

        <li>۴-وجه واریز کنید و شاهد رشد سبد سهام خود باشید</li>
    </ul>
    <span>برای ثبت نام در کارگزاری FXTM وارد لینک زیر شوید:</span>
    <a href="https://www.forextime.com/?partner_id=4913110">https://www.forextime.com/?partner_id=4913110</a>
    <span>برای وصل شدن به حساب سرمایه گزاری ما از طریق لینک زیر اقدام کنید:</span>
    <a href="https://www.forextime.com/fa/strategy/Navasangold">https://www.forextime.com/fa/strategy/Navasangold</a>
</div>

{% endblock %}