{% extends 'posts/base.html'%}
{% load staticfiles %}

{% block meta %}
<meta name="keywords" content="HTML, CSS, XML, XHTML, JavaScript">
<meta name="description" content=" اشتراک ویژه ما را تهیه کنید تا سیگنال ها,تحلیل های هفتگی و اوردربانک ها دسترسی داشته باشید.">
<meta name="author" content="John Doe">

{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'specificpages/css/tariffs.css' %}"/>
{% endblock %}


/user/login/?next=/tariffs/

{% block title %}
<title>مشاهده تعرفه ها</title>
{% endblock %}
{% block body %}
<div class="container-fluid" id="tariffs-container">

    <div class="jumbotron">
        <span style="font-size:25px">چرا باید اشتراک تهیه کنیم؟</span>
        <br>
        <br>
        <p style="font-size: 18px;">به کمک اوردر بانک ها میتونید بفهمید بانک ها چه استراتژی ها و پوزیشن هایی رو دنبال میکنن و معامله های خودتونو براساس اون استراتژی ها انجام بدید.</p>
{% if not user.is_authenticated %}
        <p>برای مشاهده ی لینک خرید ابتدا وارد<a href="/user/login/?next=/tariffs/"> وارد </a>سایت شوید.</p>
    {% endif %}
    </div>
<div class="tariffs tariffs-1">
    <img src="{% static 'specificpages/img/tariffs/tariff1.png' %}" class="tariffs-img" alt="tariffs-img-1">
    <div class="description">
    <p>  اشتراک  ۱ ماهه نوسان گلد برای دسترسی اوردر بانک ها.</p>
        <span>۵۰,۰۰۰تومان</span>
        {% if user.is_authenticated %}
    <a class="btn btn-default btn-md link-to-bank" href="{% url 'user:send_to_zarinpal' tariff_number=1 %}">
خرید
    </a>
        {% endif %}
        </div>
</div>
    <div class="tariffs tariffs-2">
    <img src="{% static 'specificpages/img/tariffs/tariff3.png' %}" class="tariffs-img img-responsive" alt="tariffs-img-2">
    <div class="description">
    <p>  اشتراک  ۳ ماهه نوسان گلد برای دسترسی به  اوردر بانک ها.</p>
        <span>۱۵۰,۰۰۰تومان</span>
               {% if user.is_authenticated %}
    <a class="btn btn-default btn-md link-to-bank" href="{% url 'user:send_to_zarinpal' tariff_number=2 %}">
خرید
    </a>
               {% endif %}
        </div>
</div>
    <div class="tariffs tariffs-3">
    <img src="{% static 'specificpages/img/tariffs/tariff6.png' %}" class="tariffs-img" alt="tariffs-img-3">
    <div class="description">
   <p>  اشتراک  ۶ ماهه نوسان گلد برای دسترسی ب  اوردر بانک ها.</p>
        <span>۳۰۰,۰۰۰تومان</span>
               {% if user.is_authenticated %}
    <a class="btn btn-default btn-md link-to-bank" href="{% url 'user:send_to_zarinpal' tariff_number=3 %}">
خرید
    </a>
        {% endif %}
        </div>
</div>

</div>




{% endblock %}