{% extends 'posts/base.html'%}
{% load staticfiles %}


{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'specificpages/css/tariffs.css' %}"/>
{% endblock %}

{% block title %}
<title>تسویه انجام شد</title>
{% endblock %}

{% block body %}

<div class="container-fluid">
    {% if amount =  %}
    <p>

        پرداخت شما با موفقیت انجام شد .
        اشتراک 1ماه برای شما فعال شد.
        شماره ی تراکنش:{{RefID}}

    </p>
      {% elif amount =  %}
    <p>

        پرداخت شما با موفقیت انجام شد .
        اشتراک 3ماه برای شما فعال شد.
        شماره ی تراکنش:{{RefID}}

    </p>
      {% elif amount =  %}
    <p>

        پرداخت شما با موفقیت انجام شد .
        اشتراک 6ماه برای شما فعال شد.
        شماره ی تراکنش:{{RefID}}

    </p>

    {% endif %}
</div>
{% endblock %}