{% extends 'posts/base.html' %}
{% load staticfiles %}
{% load tz %}
<!-- The block below overwrites block in base -->

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'users/css/edit_profile.css' %}"/>
{% endblock %}
{% block body %}

{% block title %}
<title>ویرایش پروفایل</title>
{% endblock %}


    {% if error %}
    <div class="alert alert-danger">
        <p><strong>خطا:</strong>{{ error }}</p>
    </div>
    {% endif %}
    <div class="panel panel-default edit_profile_panel">
        <div class="panel-heading">
            <span class="panel-title">اطلاعات شما </span>

        </div>
        <div class="panel-body">

            <form method="post" enctype="multipart/form-data" id="edit-profile-form">
                {% csrf_token %}

                <div class="form-group" id="top-part">

                    <div class="edit-images-block">
                        <div class="text-center">


                            {% if user.userprofile.pro_img %}
                            <img class="img-responsive" src="{{ user.userprofile.pro_img.url }}" title="{{user.username}}" alt="{{user.username}}" >

                            {% else %}
                            <img class="img-responsive"
                                    src="http://arminyahya.pythonanywhere.com/media/uploaded/default_img_prof.jpg" title="{{user.username}}" alt="{{user.username}}">
                            {% endif %}
                            <br>

                        </div>
                        <div class="text-center">
                            <div class="form-group image-field">


                                <p>انتخاب عکس</p>

                                <input class="form-control" id="id_pro_img" name="pro_img" type="file" style="">
                            </div>

                        </div>
                    </div>

                </div>
                <div class="edit-texts-info-block">
                <div class="form-group">
                    <label class="col-sm-2 control-label"  >نام:</label>

                    <div class="col-sm-10" >
                        <input class="form-control "  id="first_name" name="first_name" value="{{user.first_name}}"
                               autofocus=""
                               type="text">
                    </div>

                </div>


                <div class="form-group" style="">

                    <label class="control-label col-sm-2" >نام خانوادگی:</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="last_name" name="last_name" value="{{user.last_name}}"
                               autofocus=""
                               type="text">
                    </div>
                </div>
                    <div class="form-group">
                    <label class="control-label col-sm-2" >شماره تلفن همراه:</label>

                    <div class="col-sm-10">
                        <input class="form-control" id="phone_number" name="phone_number"
                               value="{{user.userprofile.phone_number}}"
                               autofocus=""
                               type="text">
                    </div>

                </div>
                     <div class="form-group">

                    <label class="control-label col-sm-2" >شهر:</label>
                         <div class="col-sm-10">
                <select name="city" class="form-control" required id="id_city">

               {% for city in cities %}

                            <option value="{{ city }}" {% if city == user.userprofile.city %} selected{% endif %}>{{ city }}</option>
                            {% endfor %}
                </select>


                </div>
                     </div>

                <div class="form-group">
                    {% get_current_timezone as TIME_ZONE %}
                    <label for="timezone" class="control-label col-sm-2 " >منطقه
                        زمانی:</label>
                    <div class="col-sm-10 ">
                        <select name="timezone" id="timezone" class="form-control">
                            {% for tz in timezones %}
                            <option value="{{ tz }}" {% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group">


                        <input class="form-control" id="edit-profile-submit" type="submit" value="تایید">

                </div>
 </div>
            </form>
        </div>
    </div>


{% endblock %}

}