{% extends 'posts/base.html' %}
{% load staticfiles %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'users/login.css' %}"/>
{% endblock %}
{% block title %}
<title>ورود</title>
{% endblock %}

{% block body %}

<div class="container" id="login-container">

    <div id="info">
<div id="info-header">
    <a >نوسان گلد</a>
    <br>
    <span> سایت تحلیلی خبری ارز </span>
</div>
        <ul>
           <li><span class="material-icons">show_chart</span> چارت </li>
            <li><span class="glyphicon glyphicon-signal"></span> نوسان های ارز</li>
            <li><span class="glyphicon glyphicon-book"></span>آرشیو مقالات</li>
            <li><span class="glyphicon glyphicon-calendar"></span> تقویم اقتصادی</li>




        </ul>

    </div>
    <div id="flexible-form">







        {% block checker %}
            {% if message  %}
                <input id="message-checker" value="{{message}}" hidden>


            {% endif %}
        {% endblock %}

        <div id="form-header">

        <div id="header-text"> {% block header %}
       <span id="login-header-text">
        ورود
       </span>
            <span id="reset-password-header-text">
               عوض کردن پسورد
            </span>
            {% endblock %}
        </div>
        </div>
        {% if error %}
         <div class="error-fields">
<div class="alert alert-danger">
    {{error}}
</div>


              </div>
        {% endif %}
        <div class="description">
        <div class="alert alert-success">
            <span class="message"></span>

        </div>
             <span class="icon-holder">
                <i class="material-icons" id="arrow-back-from-message-div" >arrow_back</i>
                    </span>
</div>

        <form method="post" id="main-form">
            {% csrf_token %}
            {% block form %}


            <div class="reset_password_form">
                <div class="form-group">
               <span class="material-icons ">contact_mail</span>


                <input class="form-control" id="email" name="email" placeholder="ایمیل" autofocus=""
                       type="email">

                </div>
                 <div class="form-group">

                <input class="form-control"  type="submit" style="width:100%;position:relative;"
                       value="تایید">
            </div>
                <span class="icon-holder">
                <i class="material-icons" id="arrow-back-from-email-form" >arrow_back</i>
                    </span>
                </div>


            <div class="login_form">

  <div class="form-group">
                <span class="fa fa-user-circle fa-fw"></span>

                <input class="form-control" id="id_username" name="username" placeholder="نام کاربری"
                        type="text"
                       style="">
            </div>

            <div class="form-group">
                  <span class="material-icons" style="font-size:25px;"
                  >lock</span>
                <input class="form-control" id="password" name="password1" autofocus="" placeholder="رمز عبور"

                       type="password">
            </div>




             <div class="form-group">

                <input class="form-control"  type="submit" style="width:100%;position:relative;"
                       value="تایید">
            </div>
                <a id="show_password_form"> پسورد خود را فراموش کرده اید؟ </a>
                </div>
   {% endblock %}

        </form>



    </div>
</div>
{% endblock %}
{% block script %}
<script src="{% static 'users/login.js' %}"></script>
{% endblock %}
