{% extends 'posts/base.html' %}
{% load tz %}
{% load staticfiles %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'users/css/profile.css' %}"/>
{% endblock %}
{% block title %}
<title>صفحه کاربری</title>
{% endblock %}

{% block body %}
<div class="container" id="profile-container">
    <div class="jumbotron" id="breadcrumb-jumbotron">
        <ol class="breadcrumb" style="">

            <li class="active">حساب کاربری</li>
        </ol>
    </div>
    <div class="post">

        <div class="row">

            <div class=" col-xs-12 col-sm-6 col-md-4" style="" id="img-column">

                <div class="jumbotron">

                    {% if user.userprofile.pro_img %}
                    <img class="img-responsive" src="{{ user.userprofile.pro_img.url }}" title="{{user.username}}"
                         alt="{{user.username}}">

                    {% else %}
                    <img class="img-responsive"
                         src="{% static 'users/img/anonymous-user.jpg' %}" title="{{user.username}}"
                         alt="{{user.username}}">
                    {% endif %}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-8">
                <div class="jumbotron">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home">اطلاعات کاربری</a></li>
                        <li><a data-toggle="tab" href="#vip_status">وضعیت اشتراک</a></li>
                        <li><a data-toggle="tab" href="#fav_tags">تگ هایی که شما بیشتر بازدید کردید</a></li>

                    </ul>

                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                            <p> نام کاربری:{{ user.username }}</p>
                            <p>نام:{{user.first_name}}</p>
                            <p>نام خانوادگی: {{user.last_name}}</p>
                            <p>ایمیل: {{ user.email }}</p>

                            <p>شماره تلفن: {{ userprofile.phone_number }}</p>
                            {% get_current_timezone as TIME_ZONE %}
                            {% for tz in timezones %}
                            {% if tz == TIME_ZONE %}
                            <p>
                                منطقه زمانی:{{tz}}
                            </p>
                            {% endif %}
                            {% endfor %}


                        </div>
                        <div id="vip_status" class="tab-pane fade">
                            {% if vip_remaining > 0 %}
                            <p> {{vip_remaining}}روز از اشتراک شما باقی مانده است.</p>
                        {% else %}
                        <p>شما اشتراک  ندارید.</p>
                        {% endif %}
                                                    </div>


                                            <div id="fav_tags" class="tab-pane fade">
{% for tag in favourite_tag_list %}
                <a href="{% url 'posts:tag' tag=tag %}" class="btn btn-sm btn-default" style="">{{tag}}</a>
                                                {% empty %}
                                                <p>خالی</p>
                                                {% endfor %}
                                            </div>
                         </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}