<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <style>
        body{

        font-size:20px;
        }
        div{
        padding:10px;


        }
        a{
        text-decoration:none;
        }
    </style>
</head>
<body dir="rtl">
<div style="text-align:right;">
<p>با سلام و درود، شما با نام کاربری {{username}} در سایت نوسان گلد ثبت نام شدید.</p>
    <p>شما میتوانید انتقادات و پیشنهاداتتون رو در صفحه ی <a href="https://navasangold.com/contact-us" >تماس با ما </a> یا در تلگرام ما به آیدی <a href="https://t.me/joinchat/AAAAAECJCZAcoaRiLNAxKg"> https://t.me/joinchat/AAAAAECJCZAcoaRiLNAxKg </a>به ما ارسال کنید.</p>
    <a href="https://navasangold.com" >نوسان گلد</a>
</div>
</body>
</html>