{% extends 'users/login.html' %}


{% block header%}
عوض کردت پسورد
{% endblock %}
{% block form %}

    <form method="post" class="form-group">
        {% csrf_token %}

                  <span class="material-icons " style="padding-bottom:1px;"
                  >contact_mail</span>


                <input class="form-control" id="email" name="email" placeholder="ایمیل" autofocus="" required=""
                       type="email">

         <input class="form-control"  type="submit" style="width:100%;position:relative;"
                       value="تایید">
    </form>

{% endblock %}