<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
  <style>
        body p,a{

        font-size:18px;
        }
        div{
        padding:10px;


        }
        a{
        text-decoration:none;
        }
    </style>
</head>
<body dir="rtl">
<div>
 <h1 >سلام {{username}}</h1>
<p style="color:#000;">پرداخت شما با موفقیت انجام شد .</p>
    <p>شماره تراکنش:{{transaction_number}}</p>
   {% if tariffs_number == '1' %}
    <p>اشتراک ۱ ماهه برای شما فعال گردید. </p>
    {% elif tariffs_number == '2' %}
    <p>اشتراک ۳ ماهه برای شما فعال گردید. </p>
    {% elif tariffs_number == '3' %}
    <p>اشتراک ۶ ماهه برای شما فعال گردید. </p>
    {% else %}
    <p>اشتراک ۱۲ ماهه برای شما فعال گردید. </p>
{% endif %}
    <p>هم اکنون شما به بخش های  تحلیل های ویژه،اوردر بانک هاو سیگنال ها دسترسی دارید. </p>
    <a href="https://navasangold.com" >نوسان گلد</a>
</div>
</body>

</html>