#main{
background-image: url("login-background.jpg") ;
background-size: 1366px 800px;
background-attachment: fixed;
margin-top:50px;
min-height:620px;
}

#navbar2{

display:none;

}

#login-container{
background-color:rgba(250,250,250,.5);

margin:80px auto;

display:table;
max-width:650px;
padding:0px;
}
#info{

display:table-cell;
width:40%;
text-align: left;
vertical-align: top;
padding:30px;
border-left:4px solid #2D5DA1;

}

#info-header {
text-align:center;
font-size:22px;

}


#info-header a{

font-size:25px;
color:#000;


}

#info > ul{


padding-right:0px;

}
#info > ul > li {

list-style:none;
text-align:right;
font-size:17px;
padding-bottom:10px;
}

#info ul > li span{

padding-left:5px;

}

#info ul > li > .material-icons{
position:relative;
font-size:17px;

}

.description{
margin:5px;
text-align:center;
display:none;

}

#flexible-form{
width:60%;
display:table-cell;

}

#form-header{

background-color:#2D5DA1;
padding: 20px;
color: #fff;
font-size: 15px;
text-align: center;



}

#main-form{

padding:30px;

}

.alert-danger{

background-color:#E66454;
color:#fff;
border:none;
border-radius:0px;
text-align:center;
}

.form-group{
max-width:100%;

}

#login-container .form-control {
border:1px solid rgb(30,144,255);
border-radius:0px;
padding-right:36px;

height:45px;
}

#login-container input[type="submit"]{

padding-right:0px;
}

#main-form input{

box-shadow:none;

}
.form-group span{

font-size:25px;
display:block;
position:absolute;

width:34px;
text-align:center;
border-left:1px solid rgb(204, 204, 204);
margin:1px;
padding:9px 4px;
color:rgb(30,144,255);
}

.material-icons{

position:absolute;

}

.reset_password_form,#reset-password-header-text
{

display:none;

}
.icon-holder{

text-align:left;

}
#arrow-back {
display:block;
position:relative;

}


