#main{

background-image: url("contact-us.png");

background-size: 1366px 800px;
background-attachment: fixed;
color:#fff;
margin-top:56px;
}

#navbar2{

display:none;
}

#SideNav{

height: 100%;
position: fixed;
margin-top:0px;
top:56px;

}

#contact-content{
background-color:transparent;

position:relative;

padding-bottom:40px;


}

#contact-content .container{

margin:0px;

}

#contact-content .container form{

max-width:380px;
background-color:rgba(16, 16, 18, 0.5);

}

#contact-content .form-control{

width:200px ;
box-shadow:none;

}

#contact-content .form-group{

max-width:100%;
padding:5px;

}


#contact-content textarea.form-control  {
resize:none;
width:100%
}


textarea{

vertical-align: top;

}


#id_issue_options{


width:300px;

}



footer{
border-top:1px solid #fff;
}


