
#main{
margin-top:110px;
margin-left:0px;

}
#SideNav{
top: 0px;
}
#detail-container p{

font-style: normal;
font-weight: 300;
font-size:20px;
color: #333;
line-height: 2;

}

#detail-container{
padding:0px;
padding-top:20px;
}
#detail-container .jumbotron{
background-color:#fff;
box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
border: 1px solid rgba(0, 0, 0, .09);
padding:0px;

}


textarea {
    max-width: 100%;
    max-height: 100%;
}


.comment-body{
min-height:100px;
border:1px solid black;
}

#detail-container .form-control{
max-width:700px;

}
.comments  img{
width:60px;
height:60px;
float:right;
}
.comments h4 {
position:relative;
top:20px;
right:10px;
}
.reply-to-comments form{
display:none;
}
.see-replies{
display:none;
}

.btn-default{
margin-top:10px;
background-color:#F5F5F5;
}
#information img{

height:200px;
width:200px;

}

