body{
/*
compressed imgs are .jpg
*/
background: url("../img/login-background.jpg") no-repeat center center fixed;

}


#main{

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

min-height:620px;
}



#navbar2{

display:none;

}

#login-container{


margin:80px auto;

max-width:500px;
padding:0px;
}

login-container a {

font-size:15px;

}




.description{
margin:5px;
text-align:center;
display:none;

}

#flexible-form{
max-width:500px;
max-height:500px;
background-color:rgba(250,250,250,.5);
border-top-right-radius: 10px;
border-top-left-radius: 10px;
}

#form-header{

background-color:#2D5DA1;
padding: 20px;
color: #fff;
font-size: 15px;
text-align: center;


border-top-right-radius: 8px;
border-top-left-radius: 8px;

}

#main-form{

padding:30px;

}

.alert-danger{

background-color:#E66454;
color:#fff;
border:none;
border-radius:0px;
text-align:center;
}

.form-group{
max-width:100%;

}

#login-container .form-control {

border:1px solid rgb(30,144,255);
border-radius:0px;
padding-right:36px;

height:45px;
}

#login-container input[type="submit"]{

max-width:300px;
padding-right:0px;


border-radius:40px;
background-color:#2D5DA1;
color:#FFF;

}

#main-form input{

box-shadow:none;

}

.submit-form-group{


text-align:center;

}

.form-group span{

font-size:25px;
display:block;
position:absolute;

width:34px;
text-align:center;
border-left:1px solid rgb(204, 204, 204);
margin:1px;
padding:9px 4px;
color:rgb(30,144,255);
}

.material-icons{

position:absolute;

}

.reset_password_form,#reset-password-header-text
{

display:none;

}
.icon-holder{

text-align:left;

}
span.material-icons,span.fa{

font-size:25px;

}
#arrow-back-from-email-form,#arrow-back-from-message-div {
display:block;
position:relative;
color:#2D5DA1;

}


