#main{
/*
compressed imgs are .jpg
*/
background: url("../img/contact-us.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

color:#fff;


}


#contact-content{
background-color:rgba(16, 16, 18, 0.5);

position:relative;

padding-bottom:40px;


}

#contact-content .container-fluid{

margin:0px;

}
#contact-header{

text-align:right;
margin:20px auto;
padding-bottom:15px;
border-bottom:2px solid #fff;

}

#contact-content .container-fluid form{

max-width:380px;

}
#contact-content .container-fluid p,a{

font-size:16px;

}

#contact-content .form-control{

width:200px ;
box-shadow:none;
border-radius:0px;
}

#contact-content .form-group{

max-width:100%;
padding:5px;

}


#contact-content textarea.form-control  {
resize:none;
width:100%
}


textarea{

vertical-align: top;

}


#id_issue_options{


width:300px;

}



footer{
border-top:1px solid #fff;
}


