{% extends 'posts/base.html' %}


{% load jalali_tags %}
{% load custom_tags %}
{% load staticfiles %}

{% block meta %}
<meta name="keywords" content="تقویم اقتصادی">
<meta name="description" content="مشاهده رویداد هایی که در طی ماه در بازار بورس طلا اتفاق افتاده ویا قرار است اتفاق بیفتند. ">

{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'posts/css/bankorders.css' %}">

{% endblock %}
 {% block title %}

<title>اوردر بانک ها</title>
    {% endblock %}
{% block body %}
<div class="container-fluid" id="BankOrders-container" dir="ltr">
    <div id="block_orders">
    <table id="table-block">
            <thead>
            <tr>
                <th>Pair</th>
                <th>Bank</th>
                <th>Date</th>
                <th>Order</th>
                <th>Status</th>

                <th>Entry</th>

                <th >Take Profit</th>
                <th >Stop Loss</th>


            </tr>
            </thead>
            <tbody>

            {% for item in query_list %}
            <tr>
                <td>
                {{ item.Pair }}
                </td>
                <td>
                    {{ item.Bank }}
                </td>
                <td>
                {{ item.Date }}
                </td>
                <td style="{% if item.Order == 'Sell' or item.Order == 'Sell Limit' or item.Order == 'Sell Stop' %} color:#66cd00; {% else %} color:#FD0E35; {% endif %}" >
                {{ item.Order }}

                </td>
                <td style="{% if item.Status == 'Active' %} background-color:#9DE093; {% else %} background-color:#FF8833;  {% endif %}" >
                {{ item.Status }}

                </td>
                <td>
                {{ item.Entry }}

                </td>
                <td id="take-profit">
                      {% if item.Take_Profit != '--' %}
                <img src="{% static 'posts/img/signal-up.png' %}">
                    {% endif %}
                {{ item.Take_Profit }}

                </td>
                <td id="stop-loss">
                      {% if item.Stop_Loss != '--' %}
                <img src="{% static 'posts/img/signal-down.png' %}">
                    {% endif %}
                {{ item.Stop_Loss }}

                </td>


            </tr>
            {% endfor %}
            </tbody>
    </table>
        </div>
</div>
{% endblock %}

{%  block script  %}

<script src="{% static 'posts/js/bankorders.js' %}"></script>

{% endblock %}
