<!DOCTYPE html>
<html dir="rtl" lang="fa-IR">
<head>
    {% load staticfiles %}
    {% block meta %}

    {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/favicon.png">

    <link rel="stylesheet" type="text/css" href="{% static 'posts/css/base.min.css' %}">

    {% block style %}
    {% endblock %}

    {% block title %}

    {% endblock %}
</head>


<body>
<div class="navbar navbar-fixed-top" id="navbar-container">
    <nav class="navbar navbar-default" id="navbar1">
        <div class="container-fluid">

            <button type="button" id="left-side-toggle-open">
<img src="{% static 'posts/img/user.png' %}">

            </button>
            <button type="button" id="left-side-toggle-close">


            </button>


            <a href="{% url 'posts:home' %}" class="navbar-brand">
                <div>
                    <img src="{% static 'posts/img/Logo grey transparent.png' %}">
                </div>
            </a>

            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                   <span>منو</span>
                </button>

            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse">


                <p class="navbar-text navbar-right"><a href="/news/" class="navbar-link">اخبار</a>
                </p>
                <p class="navbar-text navbar-right"><a href="{% url 'posts:articles' find='regular' %}" class="navbar-link">مقالات</a>
                </p>

                <ul class="nav navbar-nav navbar-right">

                    <li role="presentation" class="dropdown education-dropdown">

                        <a class="dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            آموزش </a>
                        <ul class="dropdown-menu menu1">
                            <li class="dropdown-header" style=""><span>آموزش های آنلاین</span></li>

                            <li><a href="{% url 'posts:tag' tag='مبانی بازار بورس ارز جهانی' %}">مبانی بازار بورس ارز
                                جهانی</a></li>
                            <li class="divider"></li>

                            <li><a href="{% url 'posts:tag' tag='مبانی خرید و فروش جفت ارزها' %}">مبانی خرید و فروش جفت
                                ارزها</a></li>
                            <li class="divider"></li>

                            <li><a href="{% url 'posts:tag' tag='مدیریت سرمایه و ریسک و روانشناسی بازار' %}">مدیریت
                                سرمایه و ریسک و روانشناسی بازار</a></li>
                            <li class="divider"></li>

                            <li><a href="{% url 'posts:tag' tag='تحلیل تکنیکال' %}">تحلیل تکنیکال</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">آموزش های حضوری</li>
                            <li><a href="{% url 'posts:tag' tag='تحلیل تکنیکال' %}">آخرین جلسات موجود</a></li>

                        </ul>
                    </li>


                </ul>
                <ul class="nav navbar-nav navbar-right">

                    <li role="presentation" class="dropdown article-dropdown">

                        <a class="dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            تحلیل ویژه </a>
                        <ul class="dropdown-menu menu2">
                            <li role="presentation" class="uo-nested-dropdown dropdown"><a class="dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                انس جهانی </a>
                                <ul class="dropdown-menu menu5">
                                    <li>
                                        <a href="{% url 'posts:articles' find='price-action-uo' %}">پرایس اکشن</a>
                                    </li>
                                    <li>
                                        <a href="{% url 'posts:articles' find='elliott-uo' %}">الیوت</a>
                                    </li><li>
                                        <a href="{% url 'posts:articles' find='ichimoku-uo' %}">ایچیموکو</a>
                                    </li>



                                </ul>
                            </li>

                            <li role="presentation" class="poc-nested-dropdown dropdown"><a class="dropdown-toggle" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                جفت ارزها </a>
                                <ul class="dropdown-menu menu6">
                                      <li>
                                        <a href="{% url 'posts:articles' find='price-action-poc' %}">پرایس اکشن</a>
                                    </li><li>
                                        <a href="{% url 'posts:articles' find='elliott-poc' %}">الیوت</a>
                                    </li>

                                    <li><a href="{% url 'posts:articles' find='ichimoku-poc' %}">ایچیموکو</a></li>

                                </ul>
                            </li>
                            <li><a href="{% url 'posts:articles' find='domestic-dollar' %}">دلار داخلی</a></li>


                        </ul>
                    </li>


                </ul>

                <ul class="nav navbar-nav navbar-right" style="">

                    <li role="presentation" class="dropdown money-dropdown">

                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            چارت ها </a>
                        <ul class="dropdown-menu menu3">
                            <li><a href="/chart/GOLD/">GOLD</a></li>
                            <li><a href="/chart/EURUSD/">EURUSD</a></li>
                            <li><a href="/chart/USDJPY/">USDJPY</a></li>
                            <li><a href="/chart/GBPUSD/">GBPUSD</a></li>
                            <li><a href="/chart/USDCAD/">USDCAD </a></li>
                            <li><a href="/chart/USDCHF/">USDCHF</a></li>
                            <li><a href="/chart/AUDUSD/">AUDUSD</a></li>
                            <li><a href="/chart/NZDUSD/">NZDUSD</a></li>
                            <li><a href="/chart/BTCUSD/">BTCUSD</a></li>

                        </ul>
                    </li>


                </ul>
                <ul class="nav navbar-nav navbar-right" style="">

                    <li role="presentation" class="dropdown trading-accounts-dropdown">

                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            حساب ها </a>
                        <ul class="dropdown-menu menu4">

                            <li><a href="/mql5/" dir="ltr">MQL5</a></li>
                            <li><a href="/pamm/" dir="ltr">PAMM(FXTM) </a></li>

                        </ul>
                    </li>


                </ul>
                <p class="navbar-text navbar-right"><a href="/calendar/" class="navbar-link">تقویم اقتصادی</a>
                </p>

<p class="navbar-text navbar-right"><a href="/bankorders/" class="navbar-link">اوردر بانک</a>
                </p>


           </div>

        </div>
    </nav>
    {% block search %}
    <nav class="navbar navbar-default" style="" id="navbar2">
        <div class="container-fluid">
            <div class="search-nav">

                <form method="get" action="/search/">
                    <div class="input-group">

                        <input class="form-control" name="q" type="search" placeholder="جستجو در سایت">

                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-md" style="">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </nav>
    {% endblock %}
</div>
<div id="SideNav">
    <div class="jumbotron">
        <div class="container">
            {% if user.is_authenticated %}
            <div class="Navigation-drawer">
                {% if user.userprofile.pro_img %}
                <img class="img-responsive" src="{{ user.userprofile.pro_img.url }}" title="{{user.username}}" alt="{{user.username}}" style="">

                {% else %}
                <img class="img-responsive" src="{% static 'users/img/anonymous-user.jpg' %}" title="{{user.username}}" alt="{{user.username}}">
                {% endif %}


                <p id="username-place">{{user.username}}</p>

                <a href="/user/profile"><span class="glyphicon glyphicon-user"></span>مشاهده حساب کاربری </a>
                <a style="" href="/user/profile/edit"><span class="glyphicon glyphicon-cog"></span>ویرایش حساب کاربری</a>
                <a href="/user/logout/"><span class="glyphicon glyphicon-off"></span>خروج</a>
                  <ul class="list-inline" id="SideNav-bottom-links-list-1">
                    <li>
                        <a href="/about-us">
                            درباره ما
                        </a>
                    </li>

                    <li>
                        <a href="/contact-us/">
                            تماس با ما
                        </a>
                    </li>
                    <li>
                        <a href="/rules/">
                            قوانین
                        </a>
                    </li>
                    <li>

                        <a href="/tariffs/">
                            خرید اشتراک
                        </a>
                    </li>
                </ul>

            </div>
            {% else %}
            <form method="post" action="/user/login/" id="SideForm">
                {% csrf_token %}
                <p class="nav-side-label"> خوش آمدید </p>

                <p class="login-label"> واردشوید </p>
                <div class="form-group" id="login-form">
                    <div class="form-group">
                <span class="fa fa-user-circle fa-fw"></span>

                        <input class="form-control" id="id_username" name="username" placeholder="نام کاربری" type="text" required>
                    </div>
                    <div class="form-group">

          <span class="material-icons">lock</span>
                        <input class="form-control" id="password1" name="password1" placeholder="رمز عبور" type="password" required>
                    </div>

                    <button class="btn btn-primary" type="submit" id="submit-button" style="">ورود</button>
                </div>


            </form>
            <p id="register-label"> برای عضویت روی ایجاد حساب کلیک کنید </p>
            <div class="create-account" style="margin:10px 10px;">
                <div class="text-center">


                    <a class="btn btn-primary btn-sm" href="{% url 'user:register' %}">
                        ایجاد حساب </a>
                </div>
            </div>

                <ul class="list-inline" id="SideNav-bottom-links-list-2">
                    <li>
                        <a href="/about-us">
                            درباره ما
                        </a>
                    </li>

                    <li>
                        <a href="/contact-us/">
                            تماس با ما
                        </a>
                    </li>
                    <li>
                        <a href="/rules/">
                            قوانین
                        </a>
                    </li>
                    <li>

                        <a href="/tariffs/">
                            خرید اشتراک
                        </a>
                    </li>
                </ul>

    {% endif %}
            </div>

        </div>
    </div>

<div id="main">
    {% block body %}

    {% endblock %}

</div>
<footer class="footer">

    <div class="jumbotron" id="footer-jumbotron">
        <div class="container">
            <div class="text-center">
                <div class="post">
                    <div class="row">
                        <div class="col-12">

                            <a href="/about-us">
                                درباره ما
                            </a>
                            <a href="/contact-us/">
                                تماس با ما
                            </a>
                            <a href="/rules/">
                                قوانین
                            </a>
                            <a href="/tariffs/">
                                خرید اشتراک
                            </a>

                        </div>
                    </div>
                    <div class="row" id="copy-right-row">
                        <div class="col-12">
                            <i class="material-icons">copyright</i>
                            هرگونه کپی برداری از محتوای نوسان ممنوع است.
                        </div>
                    </div>
                    <div class="row" id="social-network">
                        <div class="col-12">

                            <a href="https://t.me/signal_navasan"><img id="telegram-icon" src="{% static 'posts/img/telegram.png' %}"></a>
                            <a href="https://www.instagram.com/navasangold/"><img id="instagram-icon" src="{% static 'posts/img/instagram.png' %}"></a>

                            <a href="https://twitter.com/"><img id="twitter-icon" src="{% static 'posts/img/twitter.png' %}"></a>


                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>
</footer>
</body>

<script src="{% static 'posts/js/jquery.min.js' %}"></script>
<script src="{% static 'posts/js/bootstrap.min.js' %}"></script>

<script src="{% static 'posts/js/jquery.validate.js' %}"></script>

<script src="{% static 'posts/js/base.min.js' %}"></script>


{% block script %}
{% endblock %}

</html>