{% extends 'posts/base.html' %}


{% load jalali_tags %}
{% load custom_tags %}
{% load staticfiles %}

{% block meta %}
<meta name="keywords" content="تقویم اقتصادی">
<meta name="description" content="مشاهده رویداد هایی که در طی ماه در بازار بورس طلا اتفاق افتاده ویا قرار است اتفاق بیفتند. ">

{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'posts/css/calender.css' %}">
<link  href="{% static 'posts/css/datepicker.css' %}" rel="stylesheet">


{% endblock %}
 {% block title %}

<title>{{title}}</title>
    {% endblock %}
{% block body %}
<div class="container-fluid" id="calender-container">


        <div class="form-group ">

                 <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>

                <input id="input-picker" data-toggle="datepicker" type="text" class="form-control" >



        </div>



<div id="result" >


    </div>

</div>

{% endblock %}

{% block script %}

<script src="{% static 'posts/js/datepicker.js' %}"></script>
<script src="{% static 'posts/js/calenderpage_jQ.js' %}"></script>
{% endblock %}