<table id="table-block">
    <thead>
    <tr>
        <th class="date-header">تاریخ</th>
        <th>زمان</th>
        <th>ارز</th>
        <th>اهمیت</th>
        <th>رویداد</th>
        <th>واقعی</th>
        <th>پیش بینی</th>
        <th>قبلی</th>


    </tr>
    </thead>
    <tbody>

    {% for query in queryset %}
    <tr>
        <td class="date-column" dir="ltr">
            {{ query.date }}
        </td>
        <td dir="ltr">
            {{ query.time }}
        </td>
        <td>
            {% if query.stock == 'USD' %}

            <img src="/static/posts/img/currencies/USD.png" class="currency-img">


            {% elif query.stock == 'EUR' %}
            <img src="/static/posts/img/currencies/EUR.png" class="currency-img">

            {% elif query.stock == 'CHF' %}
            <img src="/static/posts/img/currencies/CHF.png" class="currency-img">

            {% elif query.stock == 'CAD' %}
            <img src="/static/posts/img/currencies/CAD.png" class="currency-img">

            {% elif query.stock == 'AUD' %}
            <img src="/static/posts/img/currencies/AUD.png" class="currency-img">

            {% elif query.stock == 'JPY' %}
            <img src="/static/posts/img/currencies/JPY.png" class="currency-img">

            {% elif query.stock == 'BTC' %}
            <img src="/static/posts/img/currencies/BTC.png" class="currency-img">

            {% elif query.stock == 'NZD' %}
            <img src="/static/posts/img/currencies/NZD.png" class="currency-img">

            {% else %}
            <img src="/static/posts/img/currencies/GBP.png" class="currency-img">


            {% endif %}

        </td>
        <td>
            {{ query.importance }}

        </td>
        <td>
            {{ query.event }}

        </td>
        <td dir="ltr">
            {{ query.actual }}

        </td>
        <td dir="ltr">
            {{ query.predict }}

        </td>
        <td dir="ltr">
            {{ query.previous }}

        </td>


    </tr>
    {% endfor %}
    </tbody>
</table>
<table id="header-fixed"></table>