{% extends 'posts/base.html' %}

{% load jalali_tags %}
{% load custom_tags %}
{% load staticfiles %}

{% block meta %}
<meta name="keywords" content="navasangold, نوسان گلد, طلا, تحلیل اقتصادی, اخبار بورس">
<meta name="description"
      content="نوسان گلد سایت خبری و مشاوره ای امکاناتی مثل تقویم اقتصادی،اخبار و تحلیل های ویژه و تخصصی  استادان مجرد در زمینه ی طلا توسط برای شما فراهم می آورد.">

{% endblock %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'posts/css/homepage.css' %}">

{% endblock %}

{% block title %}

<title>{{ title }}</title>

{% endblock %}


{% block body %}
<div class="container-fluid" id="homepage-container-fluid">

    <div class="post">
        <div class="col-xs-12 col-sm-12 col-md-8" id="right-side" style="float:right;">

            <div class="jumbotron">

                <div class="post">
                    {% for post in posts %}
                    <div class="row"
                         style="">

                        <div class="col-xs-12 col-sm-12 col-md-5" id="post-img-column" style="float:right">

                            <img class="img-responsive" src="{{post.img.url}}" title="{{post.header}}"
                                 alt="{{post.header}}"
                                 style="">

                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-7" id="post-description-column" style=" padding:0px; ">


                            <div class="text-center">
                                <div class="post-stuff">

                                    <h2 style="padding:10px;padding-top:0px;"> {{ post.header }}</h2>

                                    <p>{{ post.description|safe|striptags }}<a class="detail-link"
                                                                     href="{% url 'posts:detail' header=post.header|fix_spaces %}">بیشتر</a></p>


                                </div>
                                <ul class="list-inline" style="padding-right:0px;">
                                    <li>

<span class="glyphicon glyphicon-user" aria-hidden="true"
      style="font-size:15px;"></span> <a href="{% url 'posts:author-view' author_username=post.author %}">{{ post.author}}</a>
                                    </li>


                                    <li style="padding:4px;">

                                       <span
                                               class="glyphicon glyphicon-calendar"
                                               aria-hidden="true"></span>
                                        {{ post.date_published|to_jalali|persian_numeric }}

                                    </li>
                                    <li>

                                        <span class="glyphicon glyphicon-tag" aria-hidden="true"
                                        ></span>
                                        <a href="{% url 'posts:tag' tag=post.Main_Tag%}"
                                        >{{ post.Main_Tag}}</a>
                                    </li>

                                    <li><span class="fa fa-eye" aria-hidden="true" style="font-weight:500;"></span> {{post.seen}}</li>
                                </ul>

                            </div>
                        </div>

                    </div>
                    {% endfor %}
                </div>
                {% if posts.has_other_pages %}
                <div class="pagination-panel">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {% block pagination %}
                            {% endblock %}


                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>


    <div class="hidden-xs hidden-sm col-md-4" style="float:left; " id="left-side">


        <div class="jumbotron">
            <div class="container">

                <div id="most-seen">

                    {% for item in most_seen %}


                    <div class="most-seen-post">
                        <div class="img-of-most-seen-post">
                            <img src="{{item.img.url}}">
                        </div>
                        <div class="header-of-most-seen-post">
                            <a href="{% url 'posts:detail' header=item.header %}">{{item.header}}</a>
                        </div>
                    </div>


                    {% endfor %}


                </div>


            </div>

        </div>

    </div>
</div>

{% endblock %}